<div class="container" style="text-align: center;">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <h1>チャットルーム一覧</h1>
      <!-- 自分の参加しているユーザーしかみれないようにしたい -->
      <table class="table room-all">
        <thead>
          <th>ルーム名</th>
          <th colspan="2">参加ユーザー</th>
          <th>更新日時</th>
          <th>削除</th>
        </thead>
        <% @rooms.each do |room| %>
          <% if room.host_user_id == current_user.id %>
              <tbody>
                <tr>
                  <td><!-- チャットルーム名 -->
                    <%= link_to room_path(room) do %>
                      <p><%= room.name %></p>
                    <% end %>
                  </td>
                  <td><p><%= room.host_user.username %></p></td>
                  <td><p><%= room.guest_user.username %></td>
                  <td>
                    <p style="color: #C0C0C0;"><%= room.updated_at.strftime("%Y/%m/%d %H:%M") %></p>
                  </td>
                  <td><!-- チャットルーム名 -->
                    <%= link_to room_path(room), method: :delete do %>
                      <p><i class="fas fa-trash-alt"></i></p>
                    <% end %>
                  </td>
                </tr>
              </tbody>
          <% elsif room.guest_user_id == current_user.id %>
              <tbody>
                <tr>
                  <td><!-- チャットルーム名 -->
                    <%= link_to room_path(room) do %>
                      <p><%= room.name %></p>
                    <% end %>
                  </td>
                  <td><p><%= room.host_user.username %></p></td>
                  <td><p><%= room.guest_user.username %></td>
                  <td>
                    <p style="color: #C0C0C0;"><%= room.updated_at.strftime("%Y/%m/%d %H:%M") %></p>
                  </td>
                  <td><!-- チャットルーム名 -->
                    <%= link_to room_path(room), method: :delete, data: {confirm: "投稿を削除しますか？"} do %>
                      <p><i class="fas fa-trash-alt"></i></p>
                    <% end %>
                  </td>
                </tr>
              </tbody>
          <% end %>
        <% end %>
      </table>
      <%#= form_with url: rooms_path, method: :post, local: true do |f| %>
        <%#= f.text_field :name, class:"form-control", placeholder:"ルーム名を入力してください" %>
        <%#= f.submit "新しいチャットルームを作成する", class: "btn create-chat", style:"color: #fff;" %>
      <%# end %>
    </div>
  </div>
</div>

<style>
  .room-all tr td{
    width: 20%;
    text-align: center;
  }

  .room-all th{
    width: 25%;
    text-align: center;
  }

  .create-chat{
    width: 50%;
    height: 40px;
    background-size: 200%;
    display: block;
    text-align: center;
    line-height: 200%;
    border-radius: 10px;
    margin: 30px auto;
    outline: none;
    border: none;
    background-color: #32be8f;
    cursor: pointer;
    text-decoration: none;
  }
</style>
