<div class="container" style="text-align: center">
  <div class="row">
    <div class="col-xs-offset-4 col-xs-4" style="position: relative; height: 100vh;">
      <div class="login-form" style="background-color: #fff; ">
      <h2>Log in</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :メールアドレス %><br />
          <i class="fas fa-envelope"></i>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :パスワード %><br />
          <i class="fas fa-lock"></i>
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="remember">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Log in", class:"btn login", style:"color: #fff; font-size: 15px;" %>
          <%= link_to "Sign up", new_user_registration_path, class:"btn signup", style:"color: #fff; font-size: 15px;" %>
        </div>

      <% end %>
      <%#= render "users/shared/links" %>
      </div>
    </div>
  </div>
</div>

<style>
  body {
    min-height: 100vh;
    background-image: linear-gradient(120deg,#2E3892,#32be8f);
  }
</style>