<div class="edit-user" style="margin-top: 30px;">
	<div class="container" style="padding-bottom: 30px;">
		<div class="row">

		  <%= form_for(@user, url: user_path, method: :put) do |f| %>
		  	<!-- 左側の記述 -->
				<div class="col-xs-6">
	        <div class="field">
	          <%= attachment_image_tag @user, :profile_image, :size =>'80x80', fallback: "avator.svg" %><br />
						<%= f.attachment_field :profile_image, class:"user_image" %>
	        </div>

	        <div class="field">
	          <%= f.label :メールアドレス %><br />
	          <%= f.email_field :email, class:"email" %>
	        </div>

	        <div class="field">
	          <%= f.label :職業 %><br />
	          <%= f.text_field :job, class: "job" %>
	        </div>

	        <div class="field">
	          <%= f.label :年齢 %><br />
	          <%= f.text_field :age, class: "age" %>
	        </div>

	        <div class="field">
	          <%= f.label :居住地域 %><br />
	          <%= f.text_field :address, class: "address" %>
	        </div>
				</div>
				<!-- 右側の記述 -->
				<div class="col-xs-6">
	        <div class="field">
	          <%= f.label :ユーザー名 %><br />
	          <%= f.text_field :username, class: "age" %>
	        </div>

	        <div class="field">
	          <%= f.label :スキル %><br />
	          <%= f.text_field :skills, class: "age" %>
	        </div>

	        <div class="field">
	          <%= f.label :自己紹介文 %><br />
	          <%= f.text_area :introduction, class: "age" %>
	        </div>

	        <div class="field">
	        	<%= link_to "戻る", user_path(current_user.id)  %>
	        	<%= f.submit "更新", class:"btn update-user" %>
	        	<%#= f.submit "退会する" class:"btn destoy-user" %>
	        </div>
				</div>
			<% end %>

		</div>
	</div>
</div>