<div class="container" style="margin: 30px; padding-bottom: 30px; text-align: center;">
	<div class="row">

	  <%= form_for(@user, url: user_path, method: :put) do |f| %>
	  	<!-- 左側の記述 -->
			<div class="col-xs-6">
        <div class="field image">
          <%= attachment_image_tag @user, :profile_image, :size =>'90x90', fallback: "avator.svg" %>
					<%= f.attachment_field :profile_image, class:"user_image" %>
        </div>

        <div class="field">
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email, class:"email" %>
        </div>

        <div class="field">
          <%= f.label :職業 %><br />
          <%= f.text_field :job, class: "job" %>
        </div>

        <div class="field">
          <%= f.label :年齢 %><br />
          <%= f.text_field :age, class: "age" %>
        </div>

        <div class="field">
          <%= f.label :居住地域 %><br />
          <%= f.text_field :address, class: "address" %>
        </div>
			</div>
			<!-- 右側の記述 -->
			<div class="col-xs-6">
        <div class="field">
          <%= f.label :ユーザー名 %><br />
          <%= f.text_field :username, class: "username" %>
        </div>

        <div class="field">
          <%= f.label :スキル %><br />
          <%= f.text_field :skills, class: "skill" %>
        </div>

        <div class="field">
          <%= f.label :自己紹介文 %><br />
          <%= f.text_area :introduction, class: "form-control introduction" %>
        </div>

        <div class="field">
        	<%= link_to "戻る", user_path(current_user.id), class:"btn back-user", style:"color: #fff; font-size: 15px;"  %>
        	<%= f.submit "更新", class:"btn update-user", style:"color: #fff; font-size: 15px;" %>
        	<%#= f.submit "退会する" class:"btn destoy-user" %>
        </div>
			</div>
		<% end %>

	</div>
</div>

<style>
	.field{
		padding-bottom: 20px;
	}

	.image input{
		display: none;
	}

	.field .back-user{
	  width: 25%;
	  height: 40px;
	  background-size: 200%;
	  text-align: center;
	  line-height: 200%;
	  border-radius: 5px;
	  outline: none;
	  border: none;
	  background-color: grey;
	  cursor: pointer;
	  text-decoration: none;
	}

	.field .update-user{
	  width: 25%;
	  height: 40px;
	  background-size: 200%;
	  text-align: center;
	  line-height: 200%;
	  border-radius: 5px;
	  outline: none;
	  border: none;
	  background-color: #32be8f;
	  cursor: pointer;
	  text-decoration: none;
	}

	.field .introduction{
		width: 90%;
		margin: 0 auto;
	}
</style>