<div>
	<% if user_signed_in? && @user != current_user %>
	  <div id="follow_form">
	    <% if current_user.following?(@user) %>

	      <%#= render "unfollow" %>
				<%= form_for(current_user, url: relationship_path, method: :delete, remote: true) do |f| %>
				  <%= f.submit "フォロー解除", class:"btn unfollow-user", style:"color: #fff; font-size: 15px;" %>
				<% end %>

	    <% else %>
	      <%#= render "follow" %>
				<%= form_for(current_user, url: relationships_path(@user), method: :post, remote: true) do |f| %>
				  <%= hidden_field_tag :following_id, @user.id %>
				  <%= f.submit "フォローする", class:"btn follow-user", style:"color: #fff; font-size: 15px;" %>
				<% end %>

	    <% end %>
	  </div>
	<% end %>
</div>