<div class="container">
  <div class="row">
    <div class="col-xs-offset-3 col-xs-6" style="position: relative; height: 80vh;">
	  	<div id="contact">
			<h2 style="text-align: center">お問い合わせ入力フォーム</h2>
			<%= form_with(model: @contact, local: true, url: contacts_confirm_path, method: :get) do |f| %>

				<div class="product-form">
					<%= f.label :タイトル %>
					<%= f.text_field :title, class:"form-control" %>
				</div>

				<div class="product-form">
					<%= f.label :お問い合わせ内容 %>
					<%= f.text_area :body, class:"form-control", style:"height: 100px;" %>
				</div>

				<div class="actions">
					<%= f.submit :内容を確認して送信する, class:"btn contact", style:"color: #fff; font-size: 15px;" %>
				</div>
			<% end %>
	  	</div>
		</div>
	</div>
</div>

<style>
	body{
		color: #fff;
		position: relative;
		background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("<%= asset_path('cafe.jpg') %>");
		background-size: cover;
		background-position: bottom;
	}
	footer p{
		color: #333;
	}
</style>