<div class="main">
	<div class="caption">
		<div class="box">
			<h1>What is MCS Cafe?</h1>
			<p>MCS Cafeはお客様に美味しいコーヒーと素敵な空間を提供する場です</p>
			<p>オーストラリアのカフェで経験を積んだバリスタのコーヒーが</p>
			<p>あなたの一日をスタートさせてくれます</p>
			<p>名前の由来は"Meet & Create Something"の頭文字を取って名付けられました</p>
		</div>
		<div class="box-image">
			<%= image_tag('mcscafe_logo.png', style:'width: 250px; margin: 0 auto;') %>
			<%= image_tag('coffee.svg', style:'width: 250px; margin: 0 auto;') %>
		</div>
	</div>

	<div class="caption">
		<div class="box-image">
			<%= image_tag('meeting.svg', style:'width: 250px;') %>
			<%= image_tag('work.svg', style:'width: 250px;') %>
		</div>
		<div class="box">
			<h1>You can use MCS Cafe for working and meeting point</h1>
			<p>名前の由来に"Meet"とあるように、様々な人との出会いを提供しています</p>
			<p>お仕事の予定や恋人とのデートのMeeting Pointとしてもご利用ください</p>
		</div>
	</div>

	<div class="caption">
		<div class="box">
			<h1>If you want to find partner for business you should join</h1>
			<p>MCS Cafeではユーザー登録をしていただけます</p>
			<p>ただのCafeとしてご利用いただく分にはユーザー登録する必要はありません</p>
			<p>美味しいコーヒーを飲んで、空間をお楽しみください</p>
			<p>しかし、もしあなたがビジネスのパートナーを見つけたいのであれば</p>
			<p>ユーザー登録してもっと深くMCS Cafeという空間を楽しみましょう</p>
		</div>
		<div class="box-image">
			<%= image_tag('interview.svg', style:'width: 250px;') %>
			<%= image_tag('team.svg', style:'width: 250px;') %>
		</div>
	</div>

	<div class="caption">
		<div class="caption-footer">
			<h1>If you want to join</h1>
			<p>もし少しでも興味が湧いたなら</p>
			<p>是非コミュニティーに参加してみてください</p>
			<div class="signin">
		    <%= link_to "Sign Up", new_user_registration_path, class:"btn", style:"color: #fff; font-size: 25px;" %>
			</div>
		</div>
	</div>
</div>