<div class="user-post">
	<div class="row">
		<div class="col-xs-2">
			<table style="margin: 0 auto;">
				<tr>
					<%= link_to(post.user) do %>
						<%= attachment_image_tag(post.user, :profile_image, :size =>'50x50', fallback: "avator.svg",class: "img-circle") %>
					<% end %>
				</tr>
			</table>
		</div>
		<div class="col-xs-8">
			<table>
				<thead>
					<tr>
						<th><%= post.user.username %></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td style="padding-bottom: 10px;"><%= link_to post.body, post %></td>
						<td><%= attachment_image_tag(post.image_id, :image, :size =>'50x100') %></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-xs-2">
			<table>
				<tr>
					<% if post.user == current_user %>
						<%= link_to "", post_path(post), method: :delete, data: {confirm: "投稿を削除しますか？"}, class:"fas fa-trash-alt", style:"color: black; font-size: 20px; padding-top: 10px;" %>
					<% end %>
				</tr>
			</table>
		</div>
	</div>
	<table class="fav" style="margin: 0 auto">
		<tr>
			<th class="favorite-form_<%= post.id %>">
				<%= render partial: "user/favorites/favorite", locals: {post: post} %>
			</th>
			<th>
				<%= link_to post, data:{"turbolinks" => false} do %>
					<i class="far fa-comment"></i> コメントする
				<% end %>
			</th>
		</tr>
	</table>
</div>

<style>
	.fav th{
		padding: 0 10px;
	}

	.user-post td{
	  white-space: pre-wrap;
	}
</style>