<div class="user-post">
	<table>
		<tr>
			<%= link_to(post.user) do %>
				<%= attachment_image_tag(post.user, :profile_image, :size =>'50x50', fallback: "avator.svg") %>
			<% end %>
		</tr>
		<th><%= post.user.username %></th>
		<tr><%= link_to post.body, post %></tr>
		<tr><%= post.image_id %></tr>
	</table>
	<table class="fav" style="margin: 0 auto">
		<tr>
			<th class="favorite-form_<%= post.id %>">
				<%= render partial: "user/favorites/favorite", locals: {post: post} %>
			</th>
			<th>
				<%= link_to post do %>
					コメント数：<%= post.post_comments.count %>
				<% end %>
			</th>
		</tr>
	</table>
</div>

<style>
	.fav th{
		padding: 0 10px;
	}
</style>