<div class="container">
	<div class="row">
		<div class="col-xs-4">
			<div class="admin-user-search" style="text-align: center;">
				<h2 class="">ユーザー検索</h2>
				<!-- usernameでのみ検索可能 -->
				<ul style="margin-top: 20px;">
					<li>
					<!-- user.idで検索可能 -->
					<%= form_with url: admin_searches_path, method: :get, local: true do |f| %>
					  <%= f.text_field :id, class:"form-control", placeholder:"ここにユーザーIDを入力" %>
					</li>
					<li>
					  <%= f.submit "検索する", class:"btn admin-search-user", style:"color: #fff; font-size: 15px;" %>
					<% end %>
					</li>
				</ul>
				<div style="margin-top: 100px;"><%= image_tag 'people_search.svg', :width => "90%" %></div>
			</div>
		</div>

		<div class="col-xs-8">
			<div class="user-all">
				<h2 style="text-align: center;">ユーザー一覧</h2>
				<!-- ユーザーの情報 -->
				<div id="user_info">
					<%= render 'admin/users/user_info', user: @user %>
				</div>
				<!-- もっと見る機能をkaminariで実装 -->
				<%= paginate @users %>
<!-- 				<div class="more">
					<%#= link_to_next_page @users, 'もっと見る', remote: true, id: 'view_more', class:"btn more-action", style:"color: #fff;" %>
				</div> -->
			</div>
		</div>
	</div>
</div>

<style>

</style>
