<div class="container">
	<div class="row">
		<div class="col-xs-4">
				<div style="margin: 30px 0;"><%= image_tag 'error.svg', :width => "90%" %></div>
		</div>
		<div class="col-xs-8">
			<h2 style="text-align: center;">通報通達一覧</h2>
				<div class="notice-all">
					<table class="table">
						<thead>
							<tr class="notice-head">
								<th width="10%">通報ID</th>
								<th width="20%">ユーザーID</th>
								<th width="20%">ユーザー名</th>
								<th width="50%">通報理由</th>
							</tr>
						</thead>
						<tbody>
							<% @notices.each do |notice| %>
								<tr>
									<td><%=link_to notice.id, admin_notice_path(notice) %></td>
									<td><%= notice.user_id %></td>
									<td><%= notice.username %></td>
									<td><%= notice.body %></td>
								</tr>
							<% end %>
							<%= paginate @notices %>
						</tbody>
					</table>
				</div>
		</div>
	</div>
</div>